/*
TO UPDATE CSS USE SHIFT+REFRESH
CHROME STORES STYLESHEETS
*/

header a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: #e6e6e6;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background-color: rgb(34,64,90);
  margin: 5px 5px 5px 5px;
}

.topBarTitle {
  display: flex;
  align-items: flex-start;
  font-size: 2.6rem;
  font-weight: bold;
  color: Black;
  padding-left: 15px;
}
.spacer{
  width: 90%;
}
.logo{
  max-width:130px;
  max-height: 130px;

}

.homeButton{
  display: flex;
  align-items: flex-end;
  font-size: 2.3rem;
  font-weight: bold;
  color: Black;
  padding-right: 15px;
}

.mainContent {
  display: flex;
  flex-direction: row;
}

#sidePanel {
  min-height: 100%;
  width: 250px;
  background-color: rgb(34,64,90);
  margin: 5px 5px 5px 5px;
  color: white;
}

.content {
  width: 100%;
  height: auto;
  background-color: #e6e6e6;
  margin: 5px 5px 5px 5px;
  min-height: 800px;
}

.PageIntro{
  padding: 10px 10px 10px 10px;
}

#sidePanelTitle{
  margin-left: 15px;
}

.forms{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.countries{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
#list{
  font-size: 1.5rem;
}

.ingredients{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 1.5rem;
}

.button{
  margin-top: 15px;
  margin-left: 10px;
}

#submitButton{
  font-size: 1.5rem;
}

.results{
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 10px;
}
.output{
  display: flex;
  flex-direction: row;
  margin: 0px 10px 10px 0px;
  padding: 10px 10px 10px 10px;
  background-color: #fcfcfc;
  justify-content: space-between;
}

.outputText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.outputText p{
  margin-bottom: 5px;
}

.outputImage{
  display: flex;
  padding-top: 20px;
}

.outputText h3{
  margin-top: 5px;
}
