<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href=".\style.css">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <title>{% block title %} Base page {% endblock %}</title>
  </head>

  <body>
  <div id="header">
    <h1 id="topBarTitle"> Standard Web Browser Tool </h1>
    <a href="{{ url_for('results') }}"> Results </a>
  </div>
  <div class="mainContent">
    <div id = "sidePanel">
      <ul>
        <li>What Meal ?</li>
        &nbsp
        <label for="cars">Choose a car:</label>

        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>

        <li>Flavour ?</li>
        &nbsp
        <li>What ?</li>
        &nbsp
        <li>Preferences ?</li>
        &nbsp
        <li>Diet ?</li>
      </ul>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  {% block body %}

  {% endblock %}
  </body>

</html>
