<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href=".\style.css">

  <title>{% block title %} Base page {% endblock %}</title>
  </head>

  <body>
    <header>
      <div class="topBarTitle">
        <a href="/"><img class="logo" src=".\static\logo.png" alt="Popty_Logo"></a>
      </div>
      <div class="spacer"></div>
      <div class="homeButton">
        <h1 class="homeButton"><a href="/"> Home </a></h1>
      </div>
    </header>
    <div class="mainContent">
      <div id = "sidePanel">
        <h2 id="sidePanelTitle">Ingredients</h2>
        <div class="forms">
          <form method="POST" action="">
            <div class="ingredients">
              {{ form.csrf_token }}
              <h3 class="cvTitle">Meat</h3>
              <div>{{ form.fish}}{{form.fish.label}}</div>
              <div>{{ form.chicken}}{{form.chicken.label}}</div>
              <div>{{ form.beef}}{{form.beef.label}}</div>
              <div>{{ form.egg}}{{form.egg.label}}</div>
              <h3 class="cvTitle">Carbs</h3>
              <div>{{ form.rice}}{{form.rice.label}}</div>
              <div>{{ form.pasta}}{{form.pasta.label}}</div>
              <div>{{ form.bread}}{{form.bread.label}}</div>
              <h3 class="cvTitle">Dairy</h3>
              <div>{{ form.milk}}{{form.milk.label}}</div>
              <div>{{ form.cheese}}{{form.cheese.label}}</div>
              <div>{{ form.butter}}{{form.butter.label}}</div>
              <h3 class="cvTitle">Vegetable</h3>
              <div>{{ form.potato}}{{form.potato.label}}</div>
              <div>{{ form.carrot}}{{form.carrot.label}}</div>
              <div>{{ form.garlic}}{{form.garlic.label}}</div>
              <div>{{ form.onion}}{{form.onion.label}}</div>
              <h3 class="cvTitle">Other</h3>
              <div>{{ form.fruit}}{{form.fruit.label}}</div>
              <div class = "button">{{ form.submit(id = 'submitButton') }}</div>
            </div>
          </form>
        </div>
      </div>
        {% block content %}
        {% endblock %}
    </div>
  </body>

</html>
